@import url(./reset.css);

html {
    scroll-behavior: smooth;
}

body {
    background-color: #FFFAF2;
    display: flex;
    font-family: 'Montserrat', serif;
    flex-direction: column;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
  }

  .wrapper {
    width: 1558px;
  }

  img {
    width: 200px;
  }